---
layout: archive
author_profile: true
---

{% include base_path %}
<!--

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->

Aim: To spread IT education in india

More than 50% of people in india are under 25 years of age. To harness such a huge amount of youth power government is leaving no stone unturned to impart basic education. Government can connect to this youth much faster and better through IT, so a basic education related to IT that will alow youth to avail various services, will play a key role.  Also the way education is dispensed has taken a new turn in the current IT age. Aakash tablets will be distributed and is expected to provide online lectures and other study material.

Three potential subjects
1. College students

To impart basic IT knowledge in government arts and science colleges. This includes MS Office, MS Paint, Basic OS knowledge of windows and Linux.

2. Villagers

To impart and inculcate very basic IT skills to make them avail existing IT services though computers and smart phones. We are in process of collaborating with the of Spoken tutorial project of IITB and MHrd.
eg- 
Using Irctc to book a railway ticket.
Using internet to check reviews of a particular product.
To check wheather forcast information.

3. Government Institutes
To provide consultancy and basic open source IT interfaces to various government agencies.
eg-
Provide high quality websites to govenment colleges
Provide interface for online admissions. 