@font-face
{
font-family: title;
src: url('../../fonts/Graduate-Regular.ttf')
}
@font-face
{
font-family: affiliation;
src: url('../../fonts/Andada-Regular.ttf')
}
body {
background:#5d5d65;
background-image:url(../images/toolbar.png);
background-repeat:repeat-x;
font-family:verdana;
}
#container {
width:1280px;
height:auto;
min-height:1400px;
margin:auto;

}
#header{
width:1280px;
height:35px;
float:left;
color:#3d3d3d;
margin-bottom:20px;
font-size:22px;
font-family:title;
text-transform:capitalize;
}
#quickLinks {
width:1280px;
height:70px;
margin-bottom:30px;
float:left;
}
#quickButton {
width:120px;
height:70px;
float:left;
margin-left:80px;
cursor:pointer;
}
#workarea {
width:1280px;
height:1000px;
float:left;
}
#leftPane{
width:200px;
height:1000px;
float:left;
}
#leftNavSelect{
width:200px;
height:80px;
float:left;
margin-bottom:5px;
background:#ededed;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
cursor:pointer;
}
#leftNav{
width:200px;
height:80px;
float:left;
margin-bottom:5px;
background:#bfbfbf;
box-shadow:-5px 0px 20px -5px #5d5d65 inset;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
cursor:pointer;
}
#leftNav:hover{
background:#ededed;
}
#navText {
width:150px;
height:40px;
margin:auto;
text-align:center;
margin-top:20px;
color:#3d3d3d;
font-size:20px;
}
#navText span{
font-size:10px;
}
#rightPane{
width:1080px;
height:1300px;
float:left;
background:#ededed;
border-top-right-radius:5px;
}
#rightHead{
width:1040px;
height:50px;
float:left;
margin-left:20px;
margin-top:25px;
font-size:40px;
color:#3d3d3d;
border-bottom: 2px dotted #5d5d65;
}
#rightHead span{
float:right;
font-size:18px;
line-height:50px;
}
#rightSubHead{
width:1040px;
height:20px;
float:left;
margin-left:20px;
font-size:12px;
line-height:18px;
margin-bottom:20px;
color:#3d3d3d;
}
#rightImage{
width:1040px;
height:300px;
float:left;
margin-left:20px;
font-size:22px;
line-height:35px;
color:#3d3d3d;
}
#imageMain{
width:1000px;
height:220px;
float:left;
margin-left:20px;
background:white;
box-shadow:0px 0px 5px #5d5d65 inset;
}
#imageSelect{
width:980px;
height:150px;
margin:10px;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
}
#imageUpdate{
width:980px;
height:40px;
float:left;
margin-left:10px;
}
#imageUpdate input[type=file]{
float:left;
}
#imageUpdate input[type=submit]{
float:right;
}
#rightText{
width:1040px;
height:300px;
float:left;
margin-left:20px;
font-size:22px;
line-height:35px;
color:#3d3d3d;
}
#aboutRightText{
width:1000px;
height:800px;
float:left;
margin-left:40px;
font-size:22px;
line-height:35px;
color:#3d3d3d;
}
#aboutRightText span{
float:right;
margin-right:350px;
}
#rightMainTitle{
width:1040px;
height:50px;
float:left;
margin-left:20px;
font-size:22px;
line-height:35px;
color:#3d3d3d;
}
#rightMainTitle input[type=text]{
width:350px;
height:35px;
line-height:35px;
font-size:22px;
}
#textMain{
width:1000px;
height:220px;
float:left;
font-size:18px;
line-height:20px;
margin-left:20px;
}
#genCollegeTitle{
width:1040px;
height:300px;
float:left;
margin-left:20px;
font-size:22px;
line-height:35px;
color:#3d3d3d;
}
#dashboardTable{
float:left;
width:700px;
height:250px;
margin-left:20px;
}
#genCollegeTitle td{
height:35px;
}
#genCollegeTitle select{
height:25px;
width:50px;
}
#genCollegeTitle input[type=text]{
width:300px;
height:100%;
}
#changeLogo{
height:225px;
width:300px;
float:left;
}
#logoPreview{
margin-left:98px;
width:100px;
height:100px;
border:2px solid #3d3d3d;
margin-top:10px;
margin-bottom:10px;
background:white;
}
#previewTitle{
width:1000px;
height:30px;
line-height:30px;
float:left;
margin:10px 0px
}
#preview{
width:1000px;
min-width:1000px;
height:120px;
margin-left:20px;
float:left;
border:2px solid black;
font-family:verdana;
background:white;
}
#logo {
height:100px;
width:100px;
padding:10px 25px;
float:left;
}
#title {
height:120px;
width:850px;
float:left;

}
#college {
margin-top:30px;
max-height:65px;
width:850px;
float:left;
vertical-align:bottom;
text-align:center;
font-family:title;
text-transform:capitalize;
}
#affiliation {
height:25px;
width:850px;
float:left;
text-align:center;
font-size:15px;
font-family:affiliation;
}
#editor{
float:left
}


#imageSelect img{
margin-left:20px;
margin-top:10px;
cursor:pointer;
opacity:0.6;
}
.selected{
box-shadow: 0px 0px 10px #5d5d65;;
}
#college {
font-size:30px;
}
#recipient{
width:990px;
height:30px;
line-height:40px;
margin-left:40px;
margin-bottom:10px;
float:left;
padding:0px 5px;
}
#recipient input[type=text],#emailSubject input[type=text]{
width:350px;
padding:0px 5px;
}
#emailSubject{
width:990px;
height:30px;
line-height:40px;
margin-left:40px;
margin-bottom:10px;
padding:0px 5px;
float:left;
}
#attachments{
width:1000px;
height:100px;
margin-left:40px;
margin-bottom:10px;
background:#f4f4f4;
float:left;
}
#mailArea{
width:1000px;
height:500px;
margin-left:40px;
float:left;
}
#sendMail,#addNews{
width:990px;
height:30px;
line-height:40px;
margin-left:40px;
margin-top:10px;
float:left;
padding:0px 5px;
text-align:center;
}
#sendMail input[type=submit],#addNews input[type=submit]{
height:30px;
width:100px;
border-radius:5px;
cursor:pointer;
color:#3d3d3d;
font-size:22px;
}
#save input[type=submit]{
height:30px;
width:100px;
border-radius:5px;
cursor:pointer;
color:#3d3d3d;
font-size:22px;
float:right;
}
#contactForm{
float:left;
width:300px;
margin-top:20px;
}
#contactForm input[type=text]{
width:200px;
}
#contactForm input[type=submit]{
cursor:pointer;
}
#contactDetails{
width:675px;
height:325px;
margin-bottom:25px;
color:#3d3d3d;
background:#ffffff;
border:2px solid #3d3d3d;
float:left;
}
#contactCollegeTitle{
width:655px;
height:30px;
margin-top:20px;
line-height:30px;
font-size:18px;
margin-bottom:10px;
float:left;
margin-left:10px;
}
#contactMailingAddress{
width:655px;
height:120px;
line-height:20px;
float:left;
margin-bottom:10px;
margin-left:10px;
}
#contactEmail{
width:655px;
height:25px;
line-height:25px;
float:left;
margin-bottom:5px;
margin-left:10px;
}
#contactNo{
width:655px;
height:25px;
line-height:25px;
float:left;
margin-bottom:5px;
margin-left:10px;
}
#contactFax{
width:655px;
height:25px;
line-height:25px;
float:left;
margin-bottom:5px;
margin-left:10px;
}
#collegeSocialLinks{
width:655px;
height:25px;
line-height:25px;
float:left;
text-align:center;
margin-bottom:5px;
margin-left:10px;
}
#contactMap{
width:675px;
height:375px;
float:left;
margin-top:10px;
margin-left:182.5px;
border:2px solid #3d3d3d;
}
#map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
#newsHeader{
width:990px;
height:50px;
line-height:40px;
margin-left:40px;
margin-bottom:10px;
float:left;
padding:0px 5px;
text-align:center;
}
#newsHeader input[type=text]{
width:850px;
height:30px;
font-size:20px;
padding:0px 5px;
text-align:center;
}
#newsContent{
width:1000px;
height:600px;
margin-left:40px;
float:left;
}
#externalLinks{
width:1040px;
height:200px;
margin-top:20px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#externalLinks input[type=text]{
width:300px;
}
#externalLinks td{
min-width:150px;
}
#externalLinkTitle{
width:1000px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:20px;
float:left;
color:#3d3d3d;
}
#externalLinkAddress{
width:1000px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:20px;
float:left;
color:#3d3d3d;
}
#externalLinkUpload{
width:1000px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:20px;
float:left;
color:#3d3d3d;
}
#externalLinkSubmit{
width:1000px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:20px;
float:left;
color:#3d3d3d;
}
#removeExternalLinks{
width:1040px;
height:100px;
margin-top:20px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#selectExternalLink{
width:1000px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:20px;
float:left;
color:#3d3d3d;
}
#selectExternalLink select{
min-width:350px;
}
#removeNewsLinks{
width:1040px;
height:100px;
margin-top:20px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#selectNewsLink{
width:1000px;
height:30px;
line-height:30px;
margin-top:10px;
margin-left:20px;
float:left;
color:#3d3d3d;
}
#selectNewsLink select{
min-width:350px;
}
#theme-0f68ac,#theme-70b135,#theme-880634,#theme-8f8f8f,#theme-db281c{
width:20px;
height:20px;
float:left;
margin-left:6px;
cursor:pointer;
}
#theme-0f68ac:hover,#theme-70b135:hover,#theme-880634:hover,#theme-8f8f8f:hover,#theme-db281c:hover{
box-shadow:0px 0px 3px #000;
}
#theme-0f68ac{
background:#0f68ac;
}
#theme-70b135{
background:#70b135;
}
#theme-880634{
background:#880634;
}
#theme-8f8f8f{
background:#8f8f8f;
}
#theme-db281c{
background:#db281c;
}
#FacultyPane{
width:1040px;
height:300px;
float:left;
margin-left:20px;
}
#FacultyPane span{
float:left;
height:30px;
line-height:30px;
}
#addFaculty{
width:1000px;
height:300px;
float:left;
margin-left:20px;
background:white;
box-shadow:0px 0px 5px #5d5d65 inset;
}
#faculty_Upload{
height:300px;
width:300px;
float:left;
}
#faculty_Image{
width:100px;
height:100px;
margin-left:98px;
margin-top:100px;
border:2px solid black;
float:left;
}
#faculty_Desc{
margin-top:50px;
height:200px;
width:350px;
float:left;
}
#faculty_Preview{
height:150px;
width:350px;
margin-top:75px;
float:left;
}
#faculty-list{
width:300px;
height:100px;
overflow:hidden;
margin-left:20px;
margin-top:5px;
margin-bottom:2px;
float:left;
}
#faculty-photo{
width:100px;
height:100px;
float:left;
}
#faculty-details{
width:190px;
height:100px;
float:left;
margin-left:5px;
}
#faculty-name{
width:185px;
padding-left:5px;
height:25px;
float:left;
text-transform:capitalize;
margin-top:5px;
}
#faculty-text{
width:185px;
padding-left:5px;
height:20px;
float:left;
margin-top:2px;
line-height:20px;
}
#editFacultyArea{
width:1000px;
height:800px;
float:left;
margin-left:20px;
background:white;
box-shadow:0px 0px 5px #5d5d65 inset;
}
#editFaculty{
height:100px;
width:200px;
margin-left:40px;
float:left;
background:grey;
}
#facultyList{
height:780px;
width:1000px;
overflow-y:scroll;
float:left;
}
#facultypageFooter{
height:20px;
width:1000px;
float:left;
}
#changePasswordTitle{
width:1000px;
height:30px;
line-height:30px;
float:left;
margin:10px 0px
}
#changePassword{
width:1000px;
min-width:1000px;
height:150px;
margin-left:20px;
float:left;
font-family:verdana;
}
#courseAdd{
width:1040px;
min-height:300px;
height:auto;
margin-top:10px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#courseAdd td{
min-width:180px;
}
#courseAddTitle{
width:1000px;
min-height:30px;
margin-top:5px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#courseAddSubTitle{
width:1000px;
height:auto;
margin-top:5px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#courseAddDesc{
width:1000px;
min-height:30px;
margin-top:5px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#courseAddDesc textarea{
width:300px;
resize: none;
}
#courseAddSubmit{
width:1000px;
min-height:30px;
margin-top:5px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}

#courseRemove{
width:1040px;
min-height:300px;
height:auto;
margin-top:10px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#courseRemove td{
min-width:180px;
}
#courseRemoveTitle{
width:1000px;
min-height:30px;
margin-top:5px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#courseRemoveSubTitle{
width:1000px;
height:auto;
margin-top:5px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#courseRemoveSubmit{
width:1000px;
min-height:30px;
margin-top:5px;
margin-left:20px;
font-size: 22px;
float:left;
color:#3d3d3d;
}
#prospectus{
width:1040px;
float:left;
height:60px;
}