/* --- style.css --- */
#menu-button,#menu-buttonL {
background:#f4f4f4;
}
#list{
background:#f4f4f4;
}
#news {
}
#updates {
}
#footer{
background:#d5d5d5;
}
#banner{
}
#bannerLogo{
}
#bannerSocial{
}
#faculty-photo{
background:#f4f4f4;
}
#faculty-name{
}
#faculty-text{
}