#container {
margin:auto;
width:1000px;
min-width:1000px;
min-height:1110px;
border-radius:5px;
font-family:verdana;
}
#logo {
height:100px;
width:100px;
padding:10px 25px;
float:left;
cursor:pointer;
}
#title {
height:120px;
width:850px;
float:left;

}
#college {
margin-top:30px;
max-height:65px;
width:850px;o
float:left;
vertical-align:bottom;
text-align:center;
text-transform:capitalize;
}
#affiliation {
height:25px;
width:850px;
float:left;
text-align:center;
}
#menu-top {
height:50px;
width:1000px;
float:left;
}
#menu-button {
width:198px;
height:30px;
float:left;
margin-right:2.5px;
text-align:center;
line-height:30px;
font-family:verdana;
cursor:pointer;
}
#menu-buttonL {
width:198px;
height:30px;
float:left;
line-height:30px;
text-align:center;
font-family:verdana;
cursor:pointer;
}
#about,#academics,#faculty {
position:relative;
width:198px;
height:30px;
display:none;
z-index:999;
}
#list{
margin-top:2px;
text-align:center;
}
#slide {
width:700px;
height:350px;
margin-bottom:25px;
float:left;
}
#images {
width:675px;
height:350px;
float:right;
}

#news {
width:250px;
margin-right:25px;
height:460px;
float:right;
}
#news a{
color:#000;
}
#newsevents{
width:250px;
height:50px;
float:left;
line-height:50px;
text-align:center;
}
#main {
width:700px;
height:auto;
min-height:400px;
float:left;
margin-bottom:25px;
}
#home-msg{
width:675px;
height:auto;
min-height:400px;
float:right;
}
#updates {
width:250px;
margin-right:25px;
height:300px;
float:right;
}
#updates a{
color:#000000;
text-decoration:none;
}
#updates td{
height:38px;
margin-bottom:2px solid #fff;
}
#updateHeading{
width:250px;
height:40px;
line-height:40px;
text-align:center;
float:left;
}
#updateLinks{
width:250px;
height:240px;
text-align:center;
float:left;
}
#updateFooter{
width:250px;
height:20px;
line-height:20px;
text-align:center;
float:left;
}
#footer{
height:30px;
width:1000px;
line-height:30px;
font-size:12px;
text-align:center;
float:left;
color:#3d3d3d;
margin-bottom:10px;
}
#banner{
height:100px;
width:1000px;
float:left;
}
#bannerLogo{
height:100px;
width:150px;
float:left;
}
#bannerDesc{
height:100px;
width:700px;
float:left;
}
#bannerSocial{
height:100px;
width:150px;
float:left;
}
#content{
height:auto;
min-height:775px;
width:675px;
float:left;
margin-bottom:25px;
margin-left:25px;
}
#courseContent{
height:775px;
width:675px;
overflow-y:auto;
overflow-x:hidden;
float:left;
margin-bottom:25px;
margin-left:25px;
}
#facultyContent{
min-height:560px;
height:700px;
width:1000px;
margin-top:20px;
float:left;
overflow:hidden;
margin-bottom:25px;
}
#pagination{
float:left;
width:1000px;
margin-bottom:20px;
}
#pagination a{
text-decoration:none;
}
#prev{
float:left;
width:100px;
min-width:100px;
min-height:10px;
text-align:center;
}
#pageNo{
float:left;
width:800px;
}
#next{
float:left;
text-align:center;
width:100px;
min-width:100px;
min-height:10px;
}
#galleryContent{
min-height:775px;
height:775px;
width:1000px;
float:left;
margin-bottom:25px;
}
#content-right{
height:775px;
width:300px;
margin-bottom:25px;
float:left;
}
#null-space{
width:250px;
margin-right:25px;
height:25px;
float:right;
}
#faculty-list{
width:300px;
height:100px;
float:left;
overflow:hidden;
margin-left:25px;
margin-top:10px;
}
#faculty-photo{
width:100px;
height:100px;
float:left;
}
#faculty-details{
width:190px;
height:100px;
float:left;
margin-left:5px;
}
#faculty-name{
width:185px;
padding-left:5px;
height:25px;
float:left;
text-transform:capitalize;
margin-top:5px;
}
#faculty-text{
width:185px;
padding-left:5px;
height:20px;
float:left;
margin-top:2px;
line-height:20px;
}
#aboutHeading{
width:675px;
height:40px;
line-height:40px;
font-size:25px;
margin-bottom:10px;
display: inline;
color:#3d3d3d;
float:left;
}
#aboutDetails{
width:675px;
min-height:600px;
height:auto;
margin-bottom:10px;
float:left;
}
#aboutPhotos{
width:675px;
height:110px;
float:left;
}
#aboutPhotos img{
margin-top:5px;
height:100px;
width:200px;
margin-left:91.66px;
background:#f4f4f4;
float:left;
}
#academicsHeading{
width:675px;
height:40px;
margin-bottom:10px;
line-height:40px;
font-size:25px;
margin-bottom:10px;
color:#3d3d3d;
float:left;
}
#academicsDetails{
width:675px;
min-height:724px;
height:auto;
float:left;
}
#newsLeftHeading{
width:675px;
height:auto;
margin-bottom:10px;
line-height:30px;
font-size:22px;
margin-bottom:10px;
color:#3d3d3d;
float:left;
}
#newsLeftDetails{
width:675px;
min-height:724px;
height:auto;
float:left;
}
#contactHeading{
width:675px;
height:40px;
line-height:40px;
font-size:25px;
margin-bottom:10px;
color:#3d3d3d;
float:left;
}
#contactDetails{
width:675px;
height:325px;
margin-bottom:25px;
color:#3d3d3d;
float:left;
}
#contactCollegeTitle{
width:655px;
height:30px;
margin-top:20px;
line-height:30px;
font-size:18px;
margin-bottom:10px;
float:left;
margin-left:10px;
}
#contactMailingAddress{
width:655px;
height:120px;
line-height:20px;
float:left;
margin-bottom:10px;
margin-left:10px;
}
#contactEmail{
width:655px;
height:25px;
line-height:25px;
float:left;
margin-bottom:5px;
margin-left:10px;
}
#contactNo{
width:655px;
height:25px;
line-height:25px;
float:left;
margin-bottom:5px;
margin-left:10px;
}

#contactFax{
width:655px;
height:25px;
line-height:25px;
float:left;
margin-bottom:5px;
margin-left:10px;
}
#collegeSocialLinks{
width:655px;
height:25px;
line-height:25px;
float:left;
text-align:center;
margin-bottom:5px;
margin-left:10px;
}
#contactMap{
width:675px;
height:375px;
float:left;
}
#map-canvas{
margin: 0;
padding: 0;
height: 100%;
}
#imageGallery{
float:left;
width:1000px;
height:auto;
min-height:800px;
margin-bottom:10px;
}
#imageSlot{
float:left;
height:120px;
width:194px;
margin-left:40px;
margin-bottom:10px;
}
#courseSlot{
width:650px;
min-height:100px;
height:auto;
margin-bottom:5px;
float:left;
}
#courseLeftPane{
width:280px;
min-height:100px;
height:auto;
float:left;
}
#courseTitle{
width:270px;
padding-left:10px;
height:30px;
float:left;
}
#courseSubTitle{
width:260px;
padding-left:20px;
min-height:70px;
height:auto;
float:left;
}
#courseDesc{
width:370px;
min-height:100px;
hieght:auto;
float:left;
}