/* --- Dark Color Shade --- */
#menu-button,#menu-buttonL,#list:hover,#newsevents,#footer,#news,#updateHeading,#updateFooter{
background:#0f68ac;
color:#ffffff;
}

/* --- Light Color Shade --- */
#list,#vertical-ticker li,#updates td{
background:#B4DBF8;
color:#000000;
}

/* --- Only for Text --- */
#msg-title,#title,#aboutHeading,#academicsHeading,#newsLeftHeading,#contactHeading,#faculty-name,#collegeSocialLinks a,#pagination a{
color:#0f68ac;
}

/* ---  border --- */
#faculty-list,#faculty-photo{
border:1px solid #0f68ac;
}
#imageSlot{
border:3px solid #0f68ac;
}
#courseSlot{
border:2.5px solid #0f68ac;
}

/* --- Scroll --- */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(180,219,248,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(15,104,172,0.5); 
}